.navbar {
	z-index: 1;
	padding: 0;
}

ul {
	background-color: #305df0;
	position: fixed;
	padding-top:60px;
	width: 100%;
}

li {
	color: #fff;
	display: inline-block;
	text-align: center;
	padding: 30px 30px;
	width: 33%;
	font-size: 24px;
	font-weight: bold;
}

a, a:hover {
	text-decoration: none;
	color: #FFF;
}